@page "/"
@using BlazorApp.Data
@using BlazorApp.Logic

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?"/>
<img src=@Version.Get(HttpContextAccessor,"img/user.png")>

@code
{
    List<Person> _persons;
    protected override async Task OnInitializedAsync()
    {
        Context.Populate();
        // _persons = await Context.Persons
        //     .Include(person => person.Orders).ThenInclude(order => order.Products)
        //     .Include(person => person.Orders).ThenInclude(order => order.OrderDetails)
        //     .ToListAsync();
    }
}
